services:
  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    container_name: mfe-keycloak
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN:-admin}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD:-admin}
    ports:
      - "8080:8080"
    command: start-dev --import-realm
    volumes:
      - ./infrastructure/keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json:ro

  backend:
    image: node:20-alpine
    container_name: mfe-backend
    working_dir: /app
    volumes:
      - ./backend:/app
    command: npm run dev
    environment:
      NODE_ENV: ${NODE_ENV:-development}
      PORT: ${PORT:-3001}
      KEYCLOAK_URL: http://keycloak:8080
      KEYCLOAK_REALM: ${KEYCLOAK_REALM:-mfe-poc}
      KEYCLOAK_ISSUER: http://keycloak:8080/realms/${KEYCLOAK_REALM:-mfe-poc}
      KEYCLOAK_AUDIENCE: ${KEYCLOAK_AUDIENCE:-mfe-host-client}
      CORS_ORIGINS: ${CORS_ORIGINS:-http://localhost:5173,http://localhost:5174,http://localhost:5175,http://localhost:5176}
    ports:
      - "3001:3001"
    depends_on:
      - keycloak

  host:
    image: node:20-alpine
    container_name: mfe-host
    working_dir: /app
    volumes:
      - ./host:/app
    command: npm run dev -- --host
    environment:
      VITE_KEYCLOAK_AUTHORITY: ${VITE_KEYCLOAK_AUTHORITY:-http://localhost:8080/realms/mfe-poc}
      VITE_KEYCLOAK_CLIENT_ID: ${VITE_KEYCLOAK_CLIENT_ID:-mfe-host-client}
      VITE_APP_BASE_URL: ${VITE_APP_BASE_URL:-http://localhost:5173}
      CHOKIDAR_USEPOLLING: "true"
    ports:
      - "5173:5173"
    depends_on:
      - backend

  admin-remote:
    image: node:20-alpine
    container_name: mfe-admin-remote
    working_dir: /app
    volumes:
      - ./admin-remote:/app
    command: npm run dev -- --host
    environment:
      CHOKIDAR_USEPOLLING: "true"
    ports:
      - "5174:5174"

  sales-remote:
    image: node:20-alpine
    container_name: mfe-sales-remote
    working_dir: /app
    volumes:
      - ./sales-remote:/app
    command: npm run dev -- --host
    environment:
      CHOKIDAR_USEPOLLING: "true"
    ports:
      - "5175:5175"

  user-remote:
    image: node:20-alpine
    container_name: mfe-user-remote
    working_dir: /app
    volumes:
      - ./user-remote:/app
    command: npm run dev -- --host
    environment:
      CHOKIDAR_USEPOLLING: "true"
    ports:
      - "5176:5176"
