:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f2937;
  background-color: #f8fafc;
}

body {
  margin: 0;
  min-height: 100vh;
}

button {
  cursor: pointer;
}
